name: build_cuda

on:
  push:
    paths:
      - .github/workflows/build_cuda.yml
  workflow_dispatch: {}

env:
  gmxversion: "2025.4"
  gmxcompileto: C:/FOSS/gromacs_254
  dependhome: C:\FOSS\Dependencies
  dependpath: C:/FOSS/Dependencies/vcpkg_installed/x64-windows

jobs:
  build:
    runs-on: windows-2025
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install FFTW, hwloc, OpenBLAS
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force ${{ env.dependhome }}
          Set-Location ${{ env.dependhome }}
          vcpkg new --application
          vcpkg add port fftw3[avx2,threads]
          vcpkg add port hwloc
          vcpkg add port openblas[threads]
          vcpkg install --overlay-ports=${{ github.workspace }}\vcpkg_overlay

      - name: Install CUDA Toolkit
        id: cuda-toolkit
        uses: Jimver/cuda-toolkit@v0.2.29
        with:
          cuda: "12.8.1"
      
      - name: Copy BuildCustomizations
        shell: pwsh
        run: |
          Copy-Item -Path "${{ steps.cuda-toolkit.outputs.CUDA_PATH }}\extras\visual_studio_integration\MSBuildExtensions\*" -Destination "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Microsoft\VC\v170\BuildCustomizations\" -Force
          Copy-Item -Path "${{ steps.cuda-toolkit.outputs.CUDA_PATH }}\extras\visual_studio_integration\MSBuildExtensions\*" -Destination "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Microsoft\VC\v160\BuildCustomizations\" -Force

      - name: Download Gromacs
        shell: bash
        env:
          gmxdownloadlink: https://ftp.gromacs.org/gromacs/gromacs-2025.4.tar.gz
          gmxmd5hash: "733448146f1f0555c9fd8d7a5d14ac7b"
        run: |
          curl -Lfo gromacs_src.tar.gz ${{ env.gmxdownloadlink }}
          echo "${{ env.gmxmd5hash }}  gromacs_src.tar.gz" | md5sum -c
          tar xf gromacs_src.tar.gz

      - name: Compile GROMACS CUDA
        shell: pwsh
        run: |
          Set-Location gromacs-${{ env.gmxversion }}
          New-Item -ItemType Directory -Name build
          Set-Location build
          cmake -G "Visual Studio 17 2022" -A x64 "-DCMAKE_INSTALL_PREFIX=${{ env.gmxcompileto }}" "-DCMAKE_PREFIX_PATH=${{ env.dependpath }}" "-DGMX_GPU=CUDA" "-DGMX_SIMD=AVX2_256" "-DGMX_HWLOC=ON" ..
          cmake --build . --target INSTALL --config Release
          Set-Location ..\..
          Remove-Item -Path gromacs-${{ env.gmxversion }} -Force -Recurse

      - name: Checksum
        shell: bash
        run: |
          echo "BUILDDATE=$(date '+%b%d')" >> $GITHUB_ENV
          cd `cygpath "${{ env.gmxcompileto }}"/bin`
          sha256sum gmx.exe | tee gmx.exe.sha256

      - name: Extra force fields
        shell: bash
        run: |
          cd `cygpath "${{ env.gmxcompileto }}"/share/gromacs/top`
          curl -Lo 'charmm36-jul2022.ff.tgz' 'https://mackerell.umaryland.edu/download.php?filename=CHARMM_ff_params_files/charmm36-jul2022.ff.tgz'
          echo '9f31db8502852bc8fcf36497c27db14f1b6509b33701e7cafc2187840b7d2f09  charmm36-jul2022.ff.tgz' | sha256sum -c
          tar -x --ungzip -f charmm36-jul2022.ff.tgz
          sed -i '1cCHARMM36 all-atom force field (July 2022)' charmm36-jul2022.ff/forcefield.doc
          curl -Lo 'charmm36_ljpme-jul2022.ff.tgz' 'https://mackerell.umaryland.edu/download.php?filename=CHARMM_ff_params_files/charmm36_ljpme-jul2022.ff.tgz'
          echo '87f95a03b83d57e6b1965eb4ab798136bc7b78270f8fb85a77f82596d496c15c  charmm36_ljpme-jul2022.ff.tgz' | sha256sum -c
          tar -x --ungzip -f charmm36_ljpme-jul2022.ff.tgz
          sed -i '1cCHARMM36 LJ-PME all-atom force field (July 2022)' charmm36_ljpme-jul2022.ff/forcefield.doc
          rm -f charmm36-jul2022.ff.tgz charmm36_ljpme-jul2022.ff.tgz

      - name: Copy DLLs and Test
        shell: pwsh
        run: |
          Copy-Item -Force -Path "${{ steps.cuda-toolkit.outputs.CUDA_PATH }}\bin\cufft64_*.dll" -Destination "${{ env.gmxcompileto }}\bin\"
          Copy-Item -Force -Path "${{ env.dependpath }}\bin\*.dll" -Destination "${{ env.gmxcompileto }}\bin\"
          Set-Location ${{ env.gmxcompileto }}\bin
          Remove-Item -Force -Path fftw3l.dll,fftw3.dll
          .\gmx.exe -version

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: GROMACS-${{ env.gmxversion }}_${{ env.BUILDDATE }}_GPU_Windows-AMD64-AVX2_CUDA1281_msvc
          path: ${{ env.gmxcompileto }}
